// Global
/////////////////////////////////////////////////////////////////////////

.modal-content{
	box-shadow: none !important;
}


@mixin blue-grad {
	background-color: #1b60d8;
	background-image: -webkit-linear-gradient(135deg, #1b60d8 20%, #2AF598 100%);
	background-image: -moz-linear-gradient(135deg, #1b60d8 20%, #2AF598 100%);
	background-image: -o-linear-gradient(135deg, #1b60d8 20%, #2AF598 100%);
	background-image: linear-gradient(135deg, #1b60d8 20%, #2AF598 100%);
}


// Typography
/////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');

$btn-font: "Raleway", Helvetica, Arial, sans-serif;
$h-font: 'Nunito', sans-serif;
$p-font: 'Raleway', sans-serif;
$default-font: 'Raleway', sans-serif;

body{
	font-family: $default-font;
	background: #fff !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: $h-font;
	font-weight: $font-weight-light
}

p{
	font-family: $p-font;
}


// Navigation
/////////////////////////////////////////////////////////////////////////
#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a{
	color: $white;
	background: $gray-600;
	border-radius: .25rem;
	font-weight: 700;
}


// Forms
/////////////////////////////////////////////////////////////////////////
.form-control{
	display: block;
	width: 100%;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0rem;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	box-shadow: none;
}

.custom-select{
	-webkit-appearance: none;
}

// Buttons
/////////////////////////////////////////////////////////////////////////

.btn{
	box-shadow: $el-1;
	text-transform: uppercase;
	font-size: $font-size-sm;
	font-family: $btn-font;
	font-weight: $font-weight-bold;
	letter-spacing: .16rem;
	&:hover{
		box-shadow: $el-3;
		transform: translateY(-1px);
		transition: $transition-base;
		cursor: pointer;
	}
}


.btn-primary:hover{
	background: $blue;
	border-color: $blue;

}

.btn-success{
	color: #fff !important;
}

.btn-success:hover{
	background: $green;
	border-color: $green;
}


// Cards
/////////////////////////////////////////////////////////////////////////

.card{
	//box-shadow: $el-9;
	//padding: 20px;
}

.card-title{
	color: $gray-700;
}

.card-body{
	color: $gray-500;
	//min-height: 400px;

	.current{
		font-weight: bold;
	}
}



// Primary Nav
/////////////////////////////////////////////////////////////////////////
.navbar{
	background: $white;
	z-index: 999;
}

// Home Page
/////////////////////////////////////////////////////////////////////////

.home-page {
	.jumbotron{
		position: relative;
		color: $white;
		border-radius: 0px;
		z-index: 1;
		background: transparent;
	}
	.card-wrap{
		position: relative;
		z-index: 1;
		.card{
			box-shadow: 0 0 0 0 !important;
			background-color: transparent !important;
			border: none !important;
			position: absolute;
			top: -20px;
		}
	}
	.gradient-bg{
		width: 100%;
		height: 120%;
		left: 0px;
		top: 0px;
		overflow: hidden;
		transform: skewY(-8deg);
		transform-origin: 0;
		position: absolute;
		z-index: 0;
		@include blue-grad;
	}
}

// Register Page
/////////////////////////////////////////////////////////////////////////
.register{
	.page-title{
		display: none;
	}
	#profile-details-section{
		display: none !important;
	}
	.content{

	}
	section{
		display: block;
		background-color: #fff;
		height: 100%;
		position: absolute;
		width: 100%;
		//top: 86px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		@include blue-grad;
	}
	footer{
		display: none;
	}
}
